/* COMMON */
*{margin:0; padding:0;}
li{list-style: none;}
a{text-decoration: none; color: black;}
.clearfix::after{content:""; display:block; clear:both;}

/* BUTTON */
.btn-wrap{
    width:100%;
    height:100%;
  }
.btn{
    display:block;
    margin:0 auto;
    font-size:16px;
    font-weight:600;
    box-sizing:border-box;
    padding:12px 25px;
    background-color:transparent;
    border:1px solid gray;
    position:relative;
  }

/* CIRCLE */
.circle-color{
    width:20px;
    height:20px;
    border:3px solid white;
    box-sizing:border-box;
    border-radius:50%;
    margin-right:5px;
    font-size:17px;
  }
.circle-wrap{
    display:flex;
    -justify-content:center;
    margin:10px 0;
}
.circle-tiny{
    background-color:gray;
    border-radius:50%;
    width:10px;
    height:10px;
    margin-right:15px;
}

/* COMBINATION SET */
.com-box{
    padding:20px;
}
.com-title{
    font-weight:600;
    margin-bottom:20px;
}

/* TITLE */
.title-top{
    background:url("../images/hourglass_icon.jpg") no-repeat;
    background-position:center;
    text-align:center;
    font-size:40px;
    font-weight:600;
    margin-top:20px;
    padding-top:120px;
    margin-bottom:60px;
}

/* HEADER */
header{
    width:100%;
    height:60px;
    background-color:white;
    display:flex;
    align-items:center;
    position:fixed;
    z-index:10;
}
.logo img{
    display:block;
    padding:10px;    
}
.gnb-center{
    width:800px;
    height:100%;
    margin:0 auto;
}
.gnb-center ul{
    display:flex;
}
.gnb-center ul a{
    display:block;
    padding:15px;
    font-size:20px;
    font-weight:500;
    margin:0 25px;
}
.gnb-right ul{
    display:flex;
    margin-right:20px;
}
.gnb-right ul li img{
    display:block;
    padding:10px;
}
.store a{
    display:block;
    font-size:1px;
    font-weight:600;
    color:white;
    width:60px;
    height:100%;
    background-color:rgba(0,0,0,.7);
    text-align:center;
    line-height:60px;
}
.go-top a{
    position:fixed;
    right:20px;
    bottom:20px;
    width:100px;
    height:100px;
    z-index:9;
}

/* MAIN-SLIDE */
#main-slide{
    width:100%;
    height:567px;
    background-color:gray;
}

/* MONTHLY */
#monthly-color{
    width:100%;
    height:100%;
    position:relative;
}
.slide-wrap{
    -width:1000px;
    display:flex;
    -background-color:blue;
    -position:relative;
    -top:0;
    -right:0;
}
.slide-left1{
    width:480px;
    height:480px;
    position:relative;
    top:0;
    left:-350px;
    margin-right:50px;
}
.slide-left1 img{
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.slide-left2{
    width:480px;
    height:480px;
    position:relative;
    top:0;
    left:-360px;
    z-index:2;
}
.slide-left2 img{
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.color-recom{
    height:200px;
}
.color-recom > div:not(:last-child){
    width:60%;
    height:480px;
    background-color:rgb(255, 159, 81);
    position:absolute;
    top:250px;
    left:45%;
}
.btn-go{
    position:relative;
    top:40px;
    width:1280px;
    margin:0 auto;
}
.btn-go >div{
    text-align:right;
}
.color-btn{
    font-size:20px;
    border:none;
    background-color:transparent;
}
.color-btn a{
    color:black;
    width:50px;
    height:50px;
    display:block;
    line-height:50px;
    border:2px solid transparent;
    border-radius:50%;
    transition:all .5s;

}
.color-btn a:hover{
    border:2px solid rgb(71, 71, 71);
    border-radius:50%;
}
.recom-move{
    padding-left:150px;
    padding-top:50px;
    margin-top:80px;
}
.recom-top{
    border-bottom:2px solid rgba(211, 211, 211, 0.795);
    width:550px;
    height:100px;
    margin-bottom:30px;
}
.recom-top p{
    line-height:40px;
    font-size:17px;
}
.recom-top h1{
    font-size:40px;
    font-weight:500;
    line-height:40px;
    margin-bottom:20px;
    float:left;
}
.recom-top span{
    float:right;
    display:block;
    position:relative;
    top:20px;
}
.recom-center{
    margin-bottom:50px;
}
.recom-center span{
    display:block;
    margin-top:20px;
    color:rgb(112, 112, 112);
    font-size:17px;
}
.recom-bottom li{
    display:flex;
    margin-bottom:15px;
}

#color-com{
    width:100%;
    height:2000px;
    background-color:yellowgreen;
}


/* COLORCOM */
.title-topwrap span{
    display:block;
    margin-top:10px;
    font-size:17px;
    font-weight:500;
    letter-spacing:-1px;
}


/* SELF */
#self{
    margin-top:120px;
    width:100%;
    height:372px;
    background:url("../images/main03_bg.jpg")
}
.self-wrap{
    text-align:center;
    width:1280px;
    height:100%;
    margin:0 auto;
}
.self-left{
    width:500px;
    height:100%;
}
.self-left p:first-child{
    font-size:17px;
    font-weight:600;
    padding-top:80px;
}
.self-left p:nth-child(2){
    font-size:40px;
    margin:20px 0;
}
.self-btn{
    margin-top:20px;
    border:1px solid white;
}
.self-btn a{
    color:white;
}